.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: auto;
  max-height: 100px;
  min-height: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #2c363a;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.body {
  margin-right: 0px;
  margin-left: 0px;
}

.main {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  clear: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.logo {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: #fff;
  font-size: 30px;
}

.nav-link {
  border-bottom: 6px solid #2c363a;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #fff;
}

.nav-link:hover {
  border-bottom: 6px solid #ff2f4c;
  color: #fff;
}

.nav-link.w--current {
  border-style: none none solid solid;
  border-width: 0px 0px 6px;
  border-color: #ff2f4c;
  color: #fff;
}

.nav-link.w--current:hover {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}

.nav-link.firstnav {
  border-style: none none solid;
  border-width: 1px 1px 6px;
  border-color: #000 #000 #2c363a;
  color: #fff;
  cursor: pointer;
}

.nav-link.firstnav:hover {
  border-style: none none solid;
  border-width: 1px 1px 6px;
  border-color: #000 #000 #ff2f4c;
  color: #fff;
  text-decoration: none;
  white-space: normal;
}

.container {
  position: static;
  left: auto;
  right: auto;
  display: block;
  width: auto;
  max-width: 100%;
  margin-right: 60px;
  margin-left: 60px;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero {
  display: block;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  bottom: auto;
  z-index: 5;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #2c363a;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  text-align: left;
}

.centertext {
  position: static;
  top: 60px;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-top: 120px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

h2 {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #2c363a;
  font-size: 24px;
  line-height: 32px;
}

.content-spacer {
  padding-top: 100px;
}

.now {
  position: static;
  display: block;
  overflow: visible;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.image {
  position: static;
  display: block;
  max-height: 600px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: both;
  -o-object-fit: fill;
  object-fit: fill;
}

h2 {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #2c363a;
  font-size: 24px;
  line-height: 32px;
}

.content {
  margin-bottom: 0px;
  margin-left: 30px;
}

.content.first-content {
  margin-top: 80px;
}

p {
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  color: #2c363a;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.paragraph.lastpara {
  margin-bottom: 60px;
}

.feedback {
  margin-top: 60px;
}

.content-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.live-badge {
  margin-top: -3px;
  margin-bottom: 0px;
  margin-left: 16px;
  padding: 5px 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff2f4c;
  border-radius: 30px;
  color: #ff2f4c;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.link {
  color: #2a4dc0;
  text-decoration: none;
  cursor: pointer;
}

.next {
  display: block;
  overflow: visible;
  max-width: 100%;
  margin-bottom: 0px;
}

.later {
  display: block;
  overflow: visible;
  max-width: 100%;
  margin-bottom: 0px;
}

.container-2 {
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ddd;
  color: #ddd;
}

.text-block {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #2c363a;
  font-size: 16px;
  text-align: center;
}

.call-to-action {
  max-width: 100%;
  margin-bottom: 60px;
}

.arrow {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 50%;
  z-index: 10;
}

.image-2 {
  position: fixed;
  left: auto;
  top: auto;
  right: 60px;
  bottom: 60px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff2f4c;
  border-radius: 50px;
  background-color: #ffffff;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  cursor: pointer;
}

.image-2:hover {
  color: #ff2f4c;
}

.image-3 {
  width: 100px;
  min-width: 20px;
}

.image-3.logo {
  width: 125px;
}

.tooltip {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 6;
  display: block;
  min-width: 110px;
  margin-top: 160px;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}

.tooltip-text {
  display: block;
  padding: 10px 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  color: #2c363a;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.tooltip-arrow {
  position: absolute;
  left: -72%;
  top: auto;
  right: 0%;
  bottom: 80%;
  z-index: 12;
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid none none solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tooltip-container {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 5;
  border: 0px none #000;
}

.tooltip-icon {
  position: relative;
  bottom: 5px;
  display: inline-block;
  margin-bottom: 0px;
  padding: 5px 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-style: solid;
  border-width: 1.5px;
  border-color: #D0D0D0;
  border-radius: 50px;
  color: #2c363a;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.subheading {
  color: #979797;
  font-size: 24px;
}

.tooltipnow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 6;
  display: none;
  min-width: 110px;
  margin-top: 160px;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}

.tooltipnext {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 6;
  display: none;
  min-width: 110px;
  margin-top: 160px;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}

.tooptip-container-now {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 6;
  border: 0px none #000;
}

.tooltip-container-next {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 5;
  border: 0px none #000;
}

.tooltiplater {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 6;
  display: none;
  min-width: 110px;
  margin-top: 160px;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}

.tooltip-container-later {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 3;
  border: 0px none #000;
}

.tooltiparrownow {
  position: absolute;
  left: -75%;
  top: auto;
  right: 0%;
  bottom: 78%;
  z-index: 12;
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid none none solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tooltiparrownext {
  position: absolute;
  left: -74%;
  top: auto;
  right: 0%;
  bottom: 85%;
  z-index: 12;
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid none none solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tooltiparrowlater {
  position: absolute;
  left: -72%;
  top: auto;
  right: 0%;
  bottom: 78%;
  z-index: 12;
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid none none solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 991px) {
  .main {
    margin-right: 60px;
    margin-left: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav-link {
    border-top: 2px none transparent;
    border-bottom: 3px solid #fff;
    -webkit-transition: border-color 200ms ease, color 200ms ease-in-out;
    transition: border-color 200ms ease, color 200ms ease-in-out;
  }
  .nav-link:hover {
    border-top-style: none;
    border-top-color: #ff2f4c;
    border-bottom-width: 3px;
    border-bottom-color: #fff;
    color: #ff2f4c;
  }
  .nav-link.w--current {
    border-bottom-width: 3px;
    border-bottom-color: #fff;
    color: #ff2f4c;
  }
  .nav-link.firstnav {
    border-top-style: solid;
    border-top-color: #fff;
  }
  .h1 {
    border-top: 0px none #ff2f4c;
  }
  .image {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .icon {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
  }
  .nav-menu {
    border-bottom: 3px solid #fff;
    background-color: #2c363a;
  }
  .image-2 {
    display: none;
  }
  .tooltip-arrow {
    left: -61%;
  }
  .tooltiparrownow {
    left: -61%;
    bottom: 85%;
  }
  .tooltiparrownext {
    left: -60%;
    bottom: 85%;
  }
  .tooltiparrowlater {
    left: -57%;
  }
}

@media screen and (max-width: 767px) {
  .main {
    margin-right: 60px;
    margin-left: 60px;
  }
  h1 {
    margin-top: 0px;
    padding-top: 40px;
    font-size: 36px;
    line-height: 40px;
  }
  h2 {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 28px;
  }
  .centertext {
    margin-top: 0px;
    padding-top: 80px;
    font-size: 36px;
    line-height: 40px;
  }
  .image {
    overflow: visible;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .paragraph {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 32px;
  }
  .feedback {
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .live-badge {
    margin-left: 12px;
    padding: 3px 12px;
    font-size: 16px;
    line-height: 20px;
  }
  .tooltip {
    display: block;
    margin-top: 130px;
  }
  .tooltip-text {
    font-size: 24px;
    line-height: 28px;
  }
  .tooltip-arrow {
    left: -57%;
    bottom: 88%;
  }
  .tooltip-icon {
    padding: 3px 11px;
    font-size: 18px;
    line-height: 22px;
  }
  .tooltipnow {
    display: none;
    margin-top: 130px;
  }
  .tooltipnext {
    display: none;
    margin-top: 130px;
  }
  .tooltiplater {
    display: none;
    margin-top: 130px;
  }
  .tooltiparrownow {
    left: -57%;
    bottom: 85%;
  }
  .tooltiparrownext {
    left: -57%;
    bottom: 88%;
  }
  .tooltiparrowlater {
    left: -52%;
    bottom: 85%;
  }
}

@media screen and (max-width: 479px) {
  .main {
    margin-right: 20px;
    margin-left: 20px;
  }
  .container {
    margin-right: 20px;
    margin-left: 20px;
  }
  .hero {
    margin-bottom: 20px;
  }
  .h1 {
    margin-top: 0px;
    font-size: 28px;
    line-height: 28px;
  }
  .centertext {
    margin-bottom: 20px;
    padding-top: 80px;
    font-size: 28px;
    line-height: 32px;
  }
  .h2 {
    font-size: 18px;
    line-height: 22px;
  }
  p {
    font-size:18px;
    line-height: 22px;
  }
  .content-spacer {
    padding-top: 80px;
  }
  .content {
    margin-left: 0px;
  }
  .first-content {
    margin-top: 60px;
  }
  .paragraph {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
  }
  .paragraph.lastpara {
    margin-bottom: 20px;
  }
  .live-badge {
    font-size: 14px;
  }
  .text-block {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
    margin-top: 5px;
  }
  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .brand.w--current {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tooltip {
    display: none;
  }
  .tooltip-text {
    font-size: 18px;
    line-height: 24px;
  }
  .tooltip-arrow {
    display: none;
  }
  .tooltip-icon {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 18px;
    border-width: 1px;
    font-weight: normal;
  }
  .tooltipnow {
    display: none;
    margin-top: 100px;
  }
  .tooltipnext {
    display: none;
    margin-top: 100px;
  }
  .tooltip-container-next {
    display: block;
  }
  .tooltiplater {
    display: none;
    margin-top: 100px;
  }
  .tooltiparrownow {
    display: none;
  }
  .tooltiparrownext {
    display: none;
  }
  .tooltiparrowlater {
    display: none;
  }
}